{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Blogs{% endblock %}
{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 10px;
            font-weight: bold;
        }

        input[type="text"],
        textarea,
        input[type="file"] {
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        button[type="submit"] {
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="container">
        <h1>Add Blog Post</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_title">Title:</label>
            {{ blog_form.title }}
            <label for="id_display_content">Display Content (write 2 or 3 line about your blog): </label>
            {{ blog_form.display_content }}
            <label for="id_content">Content:</label>
            {{ blog_form.content }}
            <label for="id_place">Place:</label>
            {{ blog_form.place }}
            <label for="id_image">Image:</label>
            <input type="file" name="image" id="id_image">
            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock %}


