<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Home Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Font+Awesome+5+Brands%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Basic%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
{#  <link rel="stylesheet" href="./styles/home-page.css"/>#}
</head>
<body>
<div class="home-page-uDx">
  <div class="pill-tabs-qdQ">
    <div class="frame-63-jyg">Choose dates</div>
    <div class="frame-62-e54">I’m flexible</div>
  </div>
  <div class="frame-19-H82">
    <img class="frame-17-n4n" src="./assets/frame-17-qpa.png"/>
    <img class="frame-18-hSe" src="./assets/frame-18-XQA.png"/>
  </div>
  <div class="frame-1-Qrr">
    <div class="auto-group-ap4n-Xga">
      <div class="itinary-ULv">Itinary</div>
      <div class="itinary-ZNN">Itinary</div>
      <div class="rectangle-3-GGn">
      </div>
    </div>
    <div class="itinary-nF8">Itinary</div>
    <div class="food-tZ4">food</div>
    <div class="travel-R3C">travel</div>
  </div>
  <div class="secondary-buttons-9jt">
    <div class="button-UXG">Show More</div>
  </div>
  <p class="continue-exploring-and-adventuring-MLA">Continue Exploring and adventuring</p>
  <div class="card-eaA">
    <div class="auto-group-f2as-P1x">
      <img class="heart-tzJ" src="./assets/heart-aR4.png"/>
      <img class="ellipses-obU" src="./assets/ellipses.png"/>
    </div>
    <div class="auto-group-tkve-Kpi">
      <div class="location-dates-r3x">
        <div class="info-C7p">
          <p class="line-1-LUv">Groveland, California</p>
          <p class="line-3-xei">Yosemite National Park</p>
          <p class="dates-71p">Oct 23 - 28</p>
        </div>
        <p class="night-3w4">
          <span class="night-3w4-sub-0">$289</span>
          <span class="night-3w4-sub-1"> night</span>
        </p>
      </div>
      <div class="star-price-QYe">
        <img class="star-1-Yuk" src="./assets/star-1.png"/>
        <p class="item-491-HMY">4.91</p>
      </div>
    </div>
  </div>
  <div class="card-Qh4">
    <div class="auto-group-jywq-jjL">
      <img class="heart-R6N" src="./assets/heart-q8r.png"/>
      <img class="ellipses-hJn" src="./assets/ellipses-eU6.png"/>
    </div>
    <div class="auto-group-p4uk-xVc">
      <div class="location-dates-rqt">
        <div class="info-BdG">
          <p class="line-1-vqk">Groveland, California</p>
          <p class="line-3-5Cr">Yosemite National Park</p>
          <p class="dates-1sC">Oct 23 - 28</p>
        </div>
        <p class="night-AEJ">
          <span class="night-AEJ-sub-0">$289</span>
          <span class="night-AEJ-sub-1"> night</span>
        </p>
      </div>
      <div class="star-price-KmQ">
        <img class="star-1-snv" src="./assets/star-1-Vbk.png"/>
        <p class="item-491-R3k">4.91</p>
      </div>
    </div>
  </div>
  <div class="card-k62">
    <div class="auto-group-xw6n-gVU">
      <img class="heart-Cii" src="./assets/heart.png"/>
      <img class="ellipses-Y1t" src="./assets/ellipses-itn.png"/>
    </div>
    <div class="auto-group-l4rt-e4v">
      <div class="location-dates-nB8">
        <div class="info-uFk">
          <p class="line-1-SWa">Groveland, California</p>
          <p class="line-3-N9L">Yosemite National Park</p>
          <p class="dates-WWS">Oct 23 - 28</p>
        </div>
        <p class="night-3mG">
          <span class="night-3mG-sub-0">$289</span>
          <span class="night-3mG-sub-1"> night</span>
        </p>
      </div>
      <div class="star-price-FsL">
        <img class="star-1-DJN" src="./assets/star-1-2xN.png"/>
        <p class="item-491-xFx">4.91</p>
      </div>
    </div>
  </div>
  <div class="navbar-sdp">
    <div class="drop-down-xfG">
      <div class="frame-9-hcr">
        <div class="line-2-2QE">
        </div>
        <p class="anywhere-YNa">Place Holder</p>
      </div>
      <img class="group-2-V2v" src="./assets/group-2.png"/>
    </div>
  </div>
</div>
</body>